@font-face {
    font-family: 'Pokemon';
    src: url('/src/downloads/Pokemon\ Hollow.ttf') format('truetype');
  }

body {
    padding: 0;
    margin:0;
    background-color: ;
    background: url('./downloads/grass.jpg');
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    font-family: 'Pokemon';
    color:grey;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.header {
    margin-top: 15px;
    font-size:2rem;
    font-family: 'Pokemon';
}



.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(8,1fr);
    
    max-width: 30%;
   
    position: relative;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    
     
}

@media (max-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
    .score {transform: scale(0.8)}
    .image {transform: scale(0.5);}
    }

@media (max-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
    .image {transform: scale(0.3);}
    .score {transform: scale(0.8)}
    .result {margin-left: 100px;}
}
      
  

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > img {
    width: auto;
    height:200px
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    background-color: rgba(250, 248, 248, 0);
    border-radius: 150px;
    padding: 20px;
    animation: append-animate-no-scale .5s linear;
    
}

.card > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.card > img {
    transition: transform 1s ease-in-out;
}

.card > img:hover {
    transform: scale(2);
    
    filter: drop-shadow(0 0 30px rgb(0, 0, 0));

}




.footer {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
    font-size: 1.1em;
    color:rgb(78, 101, 233);
    background-color: rgba(235, 232, 21, 0.849);
    border-radius: 70px;
    padding: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.356);
    margin-bottom: 55px;
    margin-top: 0px;
    max-width: 800px;
   
    
}

.score > * {
    margin:0;
    padding:0;
}

.score > h3 {
    background-color: rgb(15, 97, 190);
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 20px;
    color: yellow;
}

.score > h2 {
    margin-bottom: 10px;


}

.result {
    font-size: 1.8em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
    
}

.result > .win {
    padding: 150px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 5px;
    
}

.result > .win > h1 {
    animation: append-animate .3s linear;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

@keyframes append-animate-no-scale {
	from {
		
		opacity: 0;
	}
	to {
		
		opacity: 1;	
	}
}



.result > .win > button {
    font-family: 'pokemon';
    font-size: 1.3em;
    border-radius: 20px;
    background-color: rgba(43, 67, 206, 0.795);
    color:rgb(243, 210, 65);
    border-style: none;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top:-100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.356);
    transition: transform 1s;
}

.result > .win > button:hover {
    transform: scale(1.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.226);
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100px;
}
    
.footer > p {
    margin: 5px;
    font-size: 0.8em;
    font-family: 'pokemon';

}

.footer > p > a {
    color: yellow;
    
}